.buttonLink{
   width: 180px;
   height: 40px;
   border-radius: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   cursor: pointer;
}

.whiteArrow{
    background: url(./../../../../public/whiteArrow.svg) no-repeat;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}

.whiteArrowColor{
    background: url(./../../../../public/colorArrow.svg) no-repeat;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}